.App {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
}

.left {
  background-color: rgb(10, 140, 105);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 200px;
  height: 50px;
  font-size: 1rem;
}
.btn:hover {
  border: 2px solid rgb(250, 140, 158);
}
.btn:focus {
  background-color:  rgb(240, 217, 221);
}

.right {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.post {
  background-color: rgb(170, 220, 247);
  padding: 2%;
  border-radius: 5px;
  width: 80%;
}
